<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Evoke Technologies</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(employees)}">
        <h2>Employee List</h2>
        <table class="table table-striped">
            <tr>
                <th>Employee mail Id</th>
                <th>Employee Name</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.emailId}">Employee mail Id</td>
                <td th:text="${employee.userName}">Employee Name</td>
                <td><a th:href="${ '/employee/'+ employee.id}">View</a></td>
                <td><a th:href="${'/employee/edit/'+ employee.id}">Edit</a></td>
                 <td><a th:href="${'/employee/delete/'+ employee.id}">Delete</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>